.outer-wrapper {
    display: flex;
    margin: 25px;
    justify-content: space-between;
}

.style-wrapper {
    max-width: 40%;
    flex: 1;
}

.style-content {
    width: 80%;
    margin: 0 auto;
}

.style-wrapper .resume-customizer {
    border: 1.2px solid #e6e6e6;
    text-align: center;
    box-shadow: 2px 2px 5px #888;
    padding: 15px 0;
}

.style-wrapper .resume-customizer p {
    font-size: 14px;
}

.style-wrapper .resume-customizer .love-gif img {
    width: auto;
    height: 100px;
    margin: 5px 0;
}

.style-wrapper .resume-customizer h4>span {
    color: #ff005c;
}

.template-style {
    margin-top: 30px;
    border: 1.2px solid #e6e6e6;
    box-shadow: 2px 2px 5px #888;
    padding: 15px 0;
}

.template-style h2 {
    text-align: center;
}

.template-style .form-row label {
    user-select: none;
}

.change-template-container {
    width: 80%;
    margin: 0 auto;
}

.change-template-container>div {
    padding: 3px 0;
}


/* class for js  */

.hide-picture {
    display: none;
}

.b-w-picture {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hide-contact-icons {
    display: none;
}


/* color section  */

.color-style,
.channel-column,
.font-style {
    margin-top: 30px;
    border: 1.2px solid #e6e6e6;
    box-shadow: 2px 2px 5px #888;
    padding: 25px 0;
}

.color-style h2,
.channel-column h2,
.font-style h2 {
    text-align: center;
    margin: 15px;
}

.color-content {
    max-width: 84%;
    margin: 0 auto;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.color-content .color-block {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: left;
    align-items: center;
    position: relative;
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
}

.active-color-block {
    border: 2px solid #2d82d8;
    border-radius: 5px;
}

.color-content .color-block .block-left {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.color-content .color-block .block-right {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 35%;
}


/* layout style  */

.channel-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.channel-column h3 {
    text-align: center;
}

.channel-content {
    padding: 15px 0;
}

.channel-content>div {
    padding: 18px 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}

.channel-content .channel-name span {
    font-weight: bold;
}

.channel-content i {
    font-size: 30px;
}

.active-column {
    border: 2px solid #2d82d8;
    border-radius: 5px;
    color: #ff005c;
}


/* font section  */

.font-title h3 {
    margin-left: 35px;
    padding: 0 0 15px 0;
}

.font-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.font-content input {
    width: 90%;
    cursor: pointer;
    /* border: none; */
}

.font-content span {
    font-weight: bold;
}


/* template wrapper  */

.template-wrapper {
    width: 60%;
    flex: 2;
    max-width: 850px;
    height: 100%;
    color: #fff;
    padding: 0 25px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.header-wrapper {
    /* background: #efa71d; */
    padding: 25px 0;
}

.template-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 50px;
    box-sizing: border-box;
}

.header-content {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.header-content .profile-img img {
    width: 245px;
    height: 245px;
    object-fit: cover;
}

.summary-content p {
    font-size: 13px;
}

.down-wrapper {
    /* margin-top: -50px; */
    background: #26303a;
    padding: 25px auto;
}

.down-wrapper .template-container .down-wrapper-content {
    display: flex;
    gap: 70px;
    padding: 20px 0;
}

.profile-title {
    margin: 60px auto 40px -20px;
    padding: 15px 40px 15px 15px;
}

.col-left .profile-title .profile-name {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.col-left .profile-title .profile-job-title {
    letter-spacing: 1px;
}

.blank-section {
    height: 10px;
    display: flex;
    flex: 1;
    width: 100px;
}


/* profile contact details  */

.profile-contact-details {
    margin: 50px auto;
}

.profile-contact-details .profile-contact-details-content {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 15px auto;
}

.contact-icon i {
    /* color: #efa71d; */
    font-size: 15px;
}

.contact-details-text p {
    display: flex;
    font-size: 15px;
    letter-spacing: 0.4px;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* languages technologies section  */

.resume-section {
    cursor: move;
    margin: 50px 0;
}

.section-list {
    height: 100%;
}

.resume-section-title {
    display: flex;
    gap: 10px;
    justify-content: left;
}

.resume-section-title i {
    font-size: 20px;
    /* color: #efa71d; */
}

.resume-section-title h2 {
    margin-top: -8px;
    letter-spacing: 0.8px;
}

.horizontal-line {
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background: #e0e0e0;
}

.resume-section-content {
    margin-top: 20px;
}

.resume-section-content .resume-section-topic span {
    /* color: #efa71d; */
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.resume-section-content .resume-section-description p {
    font-size: 14px;
    padding-top: 5px;
    letter-spacing: 0.8px;
}


/* work experience and education section  */

.resume-section-list-tile {
    margin-top: 20px;
}

.list-tile-title {
    /* color: #efa71d; */
    font-weight: bold;
    font-size: 18px;
}

.list-tile-subtitle {
    font-weight: bold;
}

.list-tile-date-address {
    margin-top: 5px;
    font-size: 14px;
}

.list-tile-description {
    /* margin-top: 15px; */
    margin-left: 25px;
    font-size: 13px;
}

.list-tile-description ul li {
    padding-top: 15px;
}


/* skills section  */

.skills-section-content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.skills-section-content .skills-name {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}


/* personal skills section  */

.personal-skills-section-content {
    margin-top: 15px;
}

.personal-skills-section-content .personal-skills-name {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: space-between;
}


/* background of progress */

.personal-skills-progress progress {
    width: 100%;
    height: 7px;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.personal-skills-progress {
    margin-top: -5px;
}

.personal-skills-progress progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 20px;
    width: 100%;
}


/* value of progress  */


/* .personal-skills-progress progress.progress::-webkit-progress-value {
    border-radius: 25px;
    background-color: #efa71d !important;
}

.personal-skills-progress progress.progress::-moz-progress-bar {
    border-radius: 25px;
    background-color: #efa71d !important;
}

.personal-skills-progress progress.progress {
    color: #efa71d;
} */


/* languages section  */

.languages-section-content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.languages-section-content .languages-name {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}


/* hobbies  */

.hobbies-name {
    margin-left: 25px;
}

.hobbies-section-content ul li {
    padding-top: 15px;
    font-size: 17px;
    font-weight: bold;
}


/* references  */

.reference-person {
    /* color: #efa71d; */
    font-size: 19px;
    letter-spacing: 1px;
}

.reference-description p {
    font-size: 13px;
    padding-top: 10px;
}

.reference-position,
.reference-company {
    letter-spacing: 0.6px;
}

.reference-contact,
.reference-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 0;
    letter-spacing: 1px;
}

.dragging {
    opacity: 0.5;
}

.print-btn {
    text-align: right;
}

.print-btn button {
    background: #e7423c;
    height: auto;
    width: fit-content;
    margin: 20px 0;
    padding: 12px 35px;
    font-size: 22px;
    color: white;
    border: none;
    transition: 0.5ms;
    border-radius: 5px;
}

.print-btn button:hover {
    background-color: #df9712;
}

@media print {
    .header-wrapper {
        padding: 5px 0;
    }
    .style-wrapper {
        display: none;
    }
}