.template-wrapper {
    width: 815px;
    height: 100%;
    margin: 20px auto;
    padding: 8px 0;
    /* border: 1px solid red; */
    box-shadow: 2px 2px 5px #888;
}

.template-container {
    width: 90%;
    margin: 30px auto;
    /* border: 2px solid green; */
}

.wrapper-content .col-left .profile-title .profile-img img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.summary-content p {
    font-size: 14px;
    margin-top: 20px;
}

.down-wrapper {
    background: #26303a;
    padding: 25px auto;
}

.template-container .wrapper-content {
    display: flex;
    gap: 50px;
}

.profile-title {
    color: #efa71d;
    padding: 15px 0px;
}

.col-left {
    width: 45%;
}

.left-top-wrapper {
    background: #404143;
}

.left-down-wrapper {
    background: #e0e0e0;
    padding-bottom: 30px;
}

.col-left-container {
    width: 90%;
    margin: 0 auto;
}

.col-left .profile-title .profile-name {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 15px;
    color: #efa71d;
}

.col-left .profile-title .profile-job-title {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px 0;
}

.col-left .profile-title .profile-job-title h3 {
    padding-bottom: 10px;
}


/* profile contact details  */

.profile-contact-details {
    padding-bottom: 20px;
}

.profile-contact-details .profile-contact-details-content {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 15px auto;
}

.contact-icon i {
    color: #efa71d;
    font-size: 15px;
}

.contact-details-text p {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.4px;
    align-items: center;
    color: #fff;
    align-content: center;
    justify-content: center;
}


/* languages technologies section  */

.resume-section {
    padding-top: 50px;
}

.resume-section-title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.resume-section-title i {
    font-size: 20px;
    color: #c78710;
}

.section-icon {
    order: 2;
}

.section-top-title {
    order: 1;
}

.resume-section-title h2 {
    color: #305d52;
    margin-top: -8px;
    letter-spacing: 0.8px;
}

.horizontal-line {
    height: 1.5px;
    width: 100%;
    margin-top: 5px;
    background: #c78710;
}

.resume-section-content {
    margin-top: 20px;
}

.resume-section-content .resume-section-topic span {
    color: #c78710;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.resume-section-content .resume-section-description p {
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    letter-spacing: 0.6px;
}


/* work experience and education section  */

.col-right {
    width: 65%;
    padding: 20px 0;
}

.resume-section-list-tile {
    margin-top: 20px;
}

.list-tile-title {
    color: #bb7f0f;
    font-weight: bold;
    font-size: 18px;
}

.list-tile-subtitle {
    font-weight: bold;
}

.list-tile-date-address {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.list-tile-description {
    margin-left: 25px;
    font-size: 13px;
}

.list-tile-description ul li {
    padding-top: 15px;
}


/* skills section  */

.skills-section-content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.skills-section-content .skills-name {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.skills-section-content .skills-rating .checked {
    color: #efa71d;
}


/* personal skills section  */

.personal-skills-section-content {
    margin-top: 15px;
}

.personal-skills-section-content .personal-skills-name {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: space-between;
}


/* background of progress */

.personal-skills-progress progress {
    width: 100%;
    height: 7px;
    border-radius: 20px;
    background-color: #404143;
    border: none;
}

.personal-skills-progress {
    margin-top: -5px;
}

.personal-skills-progress progress::-webkit-progress-bar {
    background-color: #3d3d3d;
    border-radius: 20px;
    width: 100%;
}


/* value of progress  */

.personal-skills-progress progress::-webkit-progress-value {
    border-radius: 25px;
    background-color: #efa71d !important;
}

.personal-skills-progress progress::-moz-progress-bar {
    border-radius: 25px;
    background-color: #efa71d !important;
}

.personal-skills-progress progress {
    color: #efa71d;
}


/* languages section  */

.languages-section-content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.languages-section-content .languages-name {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.languages-section-content .languages-rating .checked {
    color: #efa71d;
}


/* hobbies  */

.hobbies-section-content ul {
    margin-left: 15px;
}

.hobbies-section-content ul li {
    padding-top: 15px;
    font-size: 17px;
    font-weight: bold;
}


/* references  */

.reference-person {
    color: #efa71d;
    font-size: 19px;
    letter-spacing: 1px;
}

.reference-description p {
    font-size: 14px;
    padding-top: 10px;
}

.reference-position,
.reference-company {
    letter-spacing: 0.6px;
}

.reference-contact,
.reference-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 0;
    letter-spacing: 1px;
}