<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template-2</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/template-1.css">
    <!-- <link rel="stylesheet" href="../css/template-2.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@100;200;300;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="outer-wrapper">
        <div class="style-wrapper">
            <div class="style-content">
                <div class="resume-customizer">
                    <h2>RESUME CUSTOMIZER</h2>
                    <P>Customize & Preview in Real Time</P>
                    <div class="love-gif">
                        <img src="../images/love-icon.gif" alt="love-icon">
                    </div>
                    <h4>YOUR RESUME LOOKS <span>AWESOME</span></h4>
                </div>
                <div class="template-style">
                    <h2>TEMPLATE</h2>
                    <div class="change-template-container">
                        <div class="container-title">
                            <h3>Mark</h3>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" id="hide-picture" />
                            <label for="hide-picture">Hide Picture</label>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" id="b-w-picture" />
                            <label for="b-w-picture">Black & White Picture</label>
                        </div>
                        <div class="form-row">
                            <input type="checkbox" id="hide-contact-icons" />
                            <label for="hide-contact-icons">Hide Contact Icons</label>
                        </div>
                    </div>
                </div>
                <div class="color-style">
                    <h2>COLOR</h2>
                    <div class="color-content">
                        <div class="color-block">
                            <div class="block-left red-bg">
                            </div>
                            <div class="block-right royalblue-bg grayblack-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left black-bg">
                            </div>
                            <div class="block-right indianred-bg grayblack-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left darkslategray-bg">
                            </div>
                            <div class="block-right darkgold-bg darkslategreen-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left darkgold-bg">
                            </div>
                            <div class="block-right darkslategreen-bg darkgold-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left darkgold-bg">
                            </div>
                            <div class="block-right darkslategray-bg darkgold-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left indigo-bg">
                            </div>
                            <div class="block-right crimson-bg grayblack-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left grayblack-bg">
                            </div>
                            <div class=" block-right darkOrange-bg  grayblack-txt">
                            </div>
                        </div>
                        <div class="color-block">
                            <div class="block-left tomato-bg">
                            </div>
                            <div class="block-right saddlebrown-bg darkOrange-txt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" channel-column">
                    <h2>LAYOUT</h2>
                    <div class="layout-title">
                        <h3>Column</h3>
                    </div>
                    <div class="channel-content">
                        <div class="two-channel active-column">
                            <div class="channel-icon">
                                <span><i class="fas fa-bars"></i></span>
                                <span><i class="fas fa-bars"></i></span>
                            </div>
                            <div class="channel-name">
                                <span>Two Channels</span>
                            </div>
                        </div>
                        <div class="one-channel">
                            <div class="channel-icon">
                                <span><i class="fas fa-bars"></i></span>
                            </div>
                            <div class="channel-name">
                                <span>One Channel</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="font-style">
                    <h2>FONT</h2>
                    <div class="font-title">
                        <h3>Font Size</h3>
                    </div>
                    <div class="font-content">
                        <input class="range-slider" type="range" id="range" value="11" min="8" max="13">
                        <div><span id="range-length">1.1</span></div>
                    </div>
                </div>
                <div class="template-margin-style font-style">
                    <h2>Margin</h2>
                    <div class="font-title">
                        <h3>Margin Scale</h3>
                    </div>
                    <div class="font-content">
                        <input class="margin-range-slider" type="range" id="margin-range" value="2" min="2" max="13">
                        <div><span id="margin-range-length">20</span></div>
                    </div>
                </div>
                <div class="print-btn">
                    <button id="print">Print CV</button>
                </div>
            </div>
        </div>
        <div class="template-wrapper">
            <div class="template-container-second">
                <div class="wrapper-content-second">
                    <div class="col-left-second">
                        <div class="section-list">
                            <div class="left-top-wrapper">
                                <div class="profile-title-second">
                                    <div class="profile-job-title">
                                        <span>
                                            <h3>Android Developer</h3>
                                        </span>
                                    </div>
                                    <div class="profile-img"><img src="../images/sam1.jpg" alt="profile-image"></div>
                                    <div class="profile-name">
                                        <div class="profile-first-name">
                                            <h1>Samir</h1>
                                        </div>
                                        <div class="profile-last-name">
                                            <h1>Alam</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-left-container">
                                    <div class="profile-contact-details">
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fas fa-envelope-square"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fas fa-location-arrow"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-linkedin"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-twitter"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-facebook-square"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-instagram"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-github"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profile-contact-details-content">
                                            <div class="contact-icon">
                                                <i class="fab fa-dribbble"></i>
                                            </div>
                                            <div class="contact-details-text">
                                                <p>samir.alam2992@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left-down-wrapper">
                                <!-- <div class="section-list"> -->
                                <div class="col-left-container">
                                    <div class="languages-technologies resume-section">
                                        <div class="languages-technologies-title resume-section-title">
                                            <div class="section-icon">
                                                <i class="fas fa-home"></i>
                                            </div>
                                            <div class="section-top-title">
                                                <h2>LANGUAGES AND TECHNOLOGIES</h2>
                                            </div>
                                        </div>
                                        <div class="horizontal-line"></div>
                                        <div class="tech-parent">
                                            <div class="resume-section-content">
                                                <div class="resume-section-topic">
                                                    <span>Programming Langugages</span>
                                                </div>
                                                <div class="resume-section-description">
                                                    <span>
                                                        <p>Java, Dart, Python (basic), C# (basic), CSS</p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="languages resume-section">
                                        <div class="languages-title resume-section-title">
                                            <div class="section-icon">
                                                <i class="fas fa-home"></i>
                                            </div>
                                            <div class="section-top-title">
                                                <h2>LANGUAGES</h2>
                                            </div>
                                        </div>
                                        <div class="horizontal-line"></div>
                                        <div class="language-container">
                                            <div class="languages-section-content">
                                                <div class="languages-name">
                                                    <span>English</span>
                                                </div>
                                                <div class="languages-rating">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </div>
                                            <div class="languages-section-content">
                                                <div class="languages-name">
                                                    <span>Nepali</span>
                                                </div>
                                                <div class="languages-rating">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </div>
                                            <div class="languages-section-content">
                                                <div class="languages-name">
                                                    <span>Hindi</span>
                                                </div>
                                                <div class="languages-rating">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hobbies resume-section">
                                        <div class="hobbies-title resume-section-title">
                                            <div class="section-icon">
                                                <i class="fas fa-home"></i>
                                            </div>
                                            <div class="section-top-title">
                                                <h2>Hobbies</h2>
                                            </div>
                                        </div>
                                        <div class="horizontal-line"></div>
                                        <div class="hobbies-section-content">
                                            <div class="hobbies-name">
                                                <ul>
                                                    <li><span>Football</span></li>
                                                    <li><span>Music</span></li>
                                                    <li><span>Literature</span></li>
                                                    <li><span>Cricket</span></li>
                                                    <li><span>Coding</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-right-second">
                        <div class="section-list">
                            <div class="blank"></div>
                            <div class="summary resume-section">
                                <div class="summary-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>SUMMARY</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="summary-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, harum quo
                                        praesentium doloribus consectetur officiis atque delectus a sunt iste, itaque
                                        enim cupiditate facilis suscipit maxime odit perferendis! Eum, cupiditate.</p>
                                </div>
                            </div>
                            <div class="work-experience resume-section">
                                <div class="work-experience-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>WORK EXPERIENCE</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="experience-container">
                                    <div class="work-experience-content resume-section-list-tile">
                                        <div class="list-tile-title-subtitle">
                                            <span class="list-tile-title">Kantipur Digital Corp</span>
                                            <span class="dash">-</span>
                                            <span class="list-tile-subtitle">Junior android developer</span>
                                        </div>
                                        <div class="list-tile-date-address">
                                            <span class="list-tile-date"><span class="list-tile-date-from">Jul
                                                    2019</span><span class="dash">-</span> <span
                                                    class="list-tile-date-to">Oct 2019</span></span>
                                            <span class="slash">/</span>
                                            <span class="list-tile-address"><span>Kathmandu, Nepal</span></span>
                                        </div>
                                        <div class="list-tile-description">
                                            <ul>
                                                <li>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                                                        debitis laborum deleniti molestiae vero. Cumque, quibusdam
                                                        delectus
                                                        vel
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                                                        debitis laborum deleniti molestiae vero. Cumque, quibusdam
                                                        perspiciatis!
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="education resume-section">
                                <div class="education-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>EDUCATION</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="education-container">
                                    <div class="education-content resume-section-list-tile">
                                        <div class="list-tile-title-subtitle">
                                            <span class="list-tile-title">Itahari International College</span>
                                            <span class="dash">-</span>
                                            <span class="list-tile-subtitle">Bsc (Hons) Computing</span>
                                        </div>
                                        <div class="list-tile-date-address">
                                            <span class="list-tile-date"><span class="list-tile-date-from">Jul
                                                    2019</span><span class="dash">-</span> <span
                                                    class="list-tile-date-to">Oct 2019</span></span>
                                            <span class="slash">/</span>
                                            <span class="list-tile-address"><span>Dulari, Morang, Nepal</span></span>
                                        </div>
                                        <div class="list-tile-description">
                                            <ul>
                                                <li>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                                                        debitis laborum deleniti molestiae vero. Cumque, quibusdam
                                                        delectus
                                                        vel
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="education-content resume-section-list-tile">
                                        <div class="list-tile-title-subtitle">
                                            <span class="list-tile-title">Itahari International College</span>
                                            <span class="dash">-</span>
                                            <span class="list-tile-subtitle">Bsc (Hons) Computing</span>
                                        </div>
                                        <div class="list-tile-date-address">
                                            <span class="list-tile-date"><span class="list-tile-date-from">Jul
                                                    2019</span><span class="dash">-</span> <span
                                                    class="list-tile-date-to">Oct 2019</span></span>
                                            <span class="slash">/</span>
                                            <span class="list-tile-address"><span>Dulari, Morang, Nepal</span></span>
                                        </div>
                                        <div class="list-tile-description">
                                            <ul>
                                                <li>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                                                        debitis laborum deleniti molestiae vero. Cumque, quibusdam
                                                        delectus
                                                        vel
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="skills resume-section">
                                <div class="skills-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>SKILLS</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="skills-container">
                                    <div class="skills-section-content">
                                        <div class="skills-name">
                                            <span>Flutter</span>
                                        </div>
                                        <div class="skills-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                    <div class="skills-section-content">
                                        <div class="skills-name">
                                            <span>Java</span>
                                        </div>
                                        <div class="skills-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                    <div class="skills-section-content">
                                        <div class="skills-name">
                                            <span>Android</span>
                                        </div>
                                        <div class="skills-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                    <div class="skills-section-content">
                                        <div class="skills-name">
                                            <span>Web Design</span>
                                        </div>
                                        <div class="skills-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                    <div class="skills-section-content">
                                        <div class="skills-name">
                                            <span>Python</span>
                                        </div>
                                        <div class="skills-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="personal-skills resume-section second-personal-skills">
                                <div class="personal-skills-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>PERSONAL SKILLS</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="personal-skills-container">
                                    <div class="personal-skills-section-content">
                                        <div class="personal-skills-name">
                                            <span>Leadership</span>
                                            <span id="personal-skills-percent">75%</span>
                                        </div>
                                        <div class="personal-skills-progress">
                                            <progress class="progress" value="75" max="100"></progress>
                                        </div>
                                    </div>
                                    <div class="personal-skills-section-content">
                                        <div class="personal-skills-name">
                                            <span>Communication</span>
                                            <span id="personal-skills-percent">62%</span>
                                        </div>
                                        <div class="personal-skills-progress">
                                            <progress class="progress" value="62" max="100"></progress>
                                        </div>
                                    </div>
                                    <div class="personal-skills-section-content">
                                        <div class="personal-skills-name">
                                            <span>Self-motivation</span>
                                            <span id="personal-skills-percent">32%</span>
                                        </div>
                                        <div class="personal-skills-progress">
                                            <progress class="progress" value="32" max="100"></progress>
                                        </div>
                                    </div>
                                    <div class="personal-skills-section-content">
                                        <div class="personal-skills-name">
                                            <span>Decision Making</span>
                                            <span id="personal-skills-percent">20%</span>
                                        </div>
                                        <div class="personal-skills-progress">
                                            <progress class="progress" value="20" max="100"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="references resume-section">
                                <div class="references-title resume-section-title">
                                    <div class="section-icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="section-top-title">
                                        <h2>REFERENCES</h2>
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="reference-container">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/14b6efa822.js" crossorigin="anonymous"></script>
    <script src="../js/constant.js"></script>
    <script src="../js/template-color.js"></script>
    <script src="../js/template-layout.js"></script>
    <script src="../js/template-col-layout.js"></script>
    <script src="../js/template-font.js"></script>
    <script src="../js/template-margin.js"></script>
    <script src="../js/section-drag.js"></script>
    <script src="../js/templates/template.js"></script>

</body>

</html>